@page "/bees"

@using AntDesign
@using Domain.Dtos
@using Application
@using Application.Beehive

@inject Beehive Beehive
@inject ITimer Timer

<h3>Bees</h3>

<Space>
    <SpaceItem><Button Type="@ButtonType.Primary" OnClick="@(()=>{ _isVisible = true; })">Enroll Bee</Button></SpaceItem>
    <SpaceItem><Button Type="@ButtonType.Primary" OnClick="@AddDummy">Add dummy</Button></SpaceItem>
</Space>

<Modal Title="New Bee"
       Visible="@_isVisible"
       Footer="@null">
       <Form Model="@_newBee"
             OnFinish="@Enroll"
             OnFinishFailed="@EnrollmentFailed">
            <FormItem Label="Url">
                <Input @bind-Value="@context.Address" />
            </FormItem>
            
            <Divider />
            <Row Justify="end">
                <Col Span="4">
                    <FormItem>
                        <Button Type="@ButtonType.Primary" HtmlType="submit">
                            Enroll
                        </Button>
                    </FormItem>
                </Col>
                <Col Span="4">
                    <FormItem>
                        <Button OnClick="()=>CancelEnrollment()">Cancel</Button>
                    </FormItem>
                </Col>
            </Row>
       </Form>
</Modal>
<AntDesign.Table 
    TItem="BeeDto"
    DataSource="@_bees"   
>
    <Column Title="OS" Field="@context.OS">
        <Image Preview=false Width="25px" Src="@GetOSImage(context.OS)" />
    </Column>
    <Column Title="Active" Field="@context.IsUp">
        <Switch Value="@context.IsUp" Disabled />
    </Column>
    <Column Title="Name" @bind-Field="@context.Address" Sortable />
    <Column Title="Cores %" @bind-Field="@context.PercentFreeCores" Sortable>
        <Progress Percent="@(Math.Round(100.0 - context.PercentFreeCores))" Type=ProgressType.Line StrokeColor=@GetColor(context.PercentFreeCores) />
    </Column>
    <Column Title="RAM %" @bind-Field="@context.PercentFreeMemory" Sortable>
        <Progress Percent="@(Math.Round(100.0 - @context.PercentFreeMemory, 2))" Type=ProgressType.Line StrokeColor="@GetColor(context.PercentFreeMemory)" />
    </Column>
    <Column Title="Disk %" @bind-Field="@context.PercentFreeDiskSpace" Sortable>
        <Progress Percent="@(Math.Round(100.0 - @context.PercentFreeDiskSpace, 2))" Type=ProgressType.Line StrokeColor=@GetColor(context.PercentFreeDiskSpace) />
    </Column>
    <ActionColumn>
        <Space>
            <SpaceItem><Button Danger OnClick="()=>Revoke(context.Address)">Revoke</Button></SpaceItem>
        </Space>
    </ActionColumn>

</AntDesign.Table>

@code {
    List<BeeDto> _bees = new List<BeeDto>();
    bool _isVisible;
    BeeDto _newBee = new BeeDto();

    protected override async Task OnInitializedAsync()
    {
        Timer.Updated += Updated;
        _bees = await Beehive.GetBeesAsync();
    }

    private void Updated()
    {
        InvokeAsync(StateHasChanged);
    }

    private async void Enroll(EditContext editContext)
    {
        if (!await Beehive.EnrollBeeAsync(_newBee.Address))
        {
            // Todo: Handle the error
            return;
        }

        _isVisible = false;

        _bees = await Beehive.GetBeesAsync();
        StateHasChanged();
    }

    private void EnrollmentFailed(EditContext editContext)
    {

    }

    private void CancelEnrollment()
    {
        _isVisible = false;
    }

    private async void Revoke(string name)
    {
        await Beehive.RevokeBeeAsync(name);

        _bees = await Beehive.GetBeesAsync();
        StateHasChanged();
    }

    string GetColor(double percentFree)
    {
        if (percentFree <= 10) return "#dc3545";
        if (percentFree <= 25) return "#fd7e14";
        return "#28a745";
    }

    string GetOSImage(string platform)
    {
        switch(platform)
        {
            case "Win32S":
            case "Win32Windows":
            case "Win32NT":
            case "WinCE":
                return "images/windows_microsoft_icon.png";
            case "Unix":
                return "images/tux_linux_icon.png";
            case "MacOSX":
                return "images/mac_osx_icon.png";
            case "Xbox":
                return "images/xbox_icon.png";
            default:
                return "images/server_center_data_icon.png";
        }
    }

    public void Dispose()
    {
        Timer.Updated -= Updated;
    }

    private void AddDummy()
    {
        var dummy = _dummies[_bees.Count % _dummies.Count];
        _bees.Add(
            new BeeDto
            {
                IsUp = dummy.IsUp,
                OS = dummy.OS,
                Address = $"https://machine{_bees.Count + 1}:8080",
                PercentFreeCores = dummy.PercentFreeCores,
                PercentFreeMemory = dummy.PercentFreeMemory,
                PercentFreeDiskSpace = dummy.PercentFreeDiskSpace,
            });
    }

    private readonly List<BeeDto> _dummies = new List<BeeDto>
    {
        new BeeDto
        {
            IsUp = true,
            OS = "Unix",
            Address = "Machine 1",
            PercentFreeCores = 30,
            PercentFreeMemory = 30,
            PercentFreeDiskSpace = 30,
        },
        new BeeDto
        {
            IsUp = true,
            OS = "MacOSX",
            Address = "Machine 2",
            PercentFreeCores = 75,
            PercentFreeMemory = 75,
            PercentFreeDiskSpace = 75,
        },
        new BeeDto
        {
            IsUp = true,
            OS = "Win32NT",
            Address = "Machine 3",
            PercentFreeCores = 90,
            PercentFreeMemory = 90,
            PercentFreeDiskSpace = 90,
        },
        new BeeDto
        {
            OS = "Xbox",
            Address = "Machine 4",
            PercentFreeCores = 20,
            PercentFreeMemory = 50,
            PercentFreeDiskSpace = 80,
        },
        new BeeDto
        {
            OS = "Other",
            Address = "Machine 5",
            PercentFreeCores = 0,
            PercentFreeMemory = 5,
            PercentFreeDiskSpace = 100,
        },
    };
}
