@page "/colonies"

@using AntDesign
@using AntDesign.TableModels
@using Application
@using Application.Beehive
@using Domain.Dtos

@inject ColonyProvider ColonyProvider
@inject BeeKeeper BeeKeeper

<h3>Colonies</h3>

<Space>
    <SpaceItem><Button Type="@ButtonType.Primary" OnClick="@NewColony">New</Button></SpaceItem>
</Space>
<Modal Title="New Colony"
       Visible="@_isVisible"
       Closable="false"
       Footer="@null">
    <Form Model="@_model"
          OnFinish="@AddColony"
          OnFinishFailed="@AddColonyFailed"
          Layout="Vertical">
        <FormItem Label="Name">
            <Input @bind-Value="@context.Name" />
        </FormItem>
        <FormItem Label="Max number of parallel tasks" Help="A value <= 0 means no restrictions.">
            <AntDesign.InputNumber @bind-Value="@context.MaxParallelTasks" />
        </FormItem>
        <FormItem Label="Bees" Help="No selection means allowing the colony to run on all bees.">
            <Select Mode="multiple"
                    DataSource="@_bees"
                    @bind-Values="@context.Bees"
                    LabelName="@nameof(BeeDto.Address)"
                    ValueName="@nameof(BeeDto.Address)"
                    Placeholder="Please select"
                    EnableSearch
                    AllowClear>
            </Select>
        </FormItem>
        <Divider />
        <Row Justify="end">
            <Col Span="4">
            <FormItem>
                <Button Type="@ButtonType.Primary" HtmlType="submit">Add</Button>
            </FormItem>
            </Col>
            <Col Span="4">
            <FormItem>
                <Button OnClick="@Cancel">Cancel</Button>
            </FormItem>
            </Col>
        </Row>
    </Form>
</Modal>
<AntDesign.Table TItem="ColonyVM" DataSource="@_colonies" OnExpand="OnRowExpand">
    <RowTemplate>
        <Column Title="Name" Field="@context.Name" />
        <Column Title="Max Parallel" Field="@context.MaxParallelTasks" />
        <Column Title="Nb Bees" Field="@Count(context.Bees)" />
        <ActionColumn>
            <Space>
                <SpaceItem><Button Danger OnClick="()=>RemoveColony(context.Name)">Delete</Button></SpaceItem>
            </Space>
        </ActionColumn>
    </RowTemplate>
    <ExpandTemplate Context="rowData">
        <Table DataSource="rowData.Data.BeesVM" Loading="rowData.Data.BeesVM==null" TItem="BeeDto" HidePagination>
            <Column Title="OS" Field="@context.OS">
                <Image Preview=false Width="25px" Src="@GetOSImage(context.OS)" />
            </Column>
            <Column Title="Active" Field="@context.IsUp">
                <Switch Value="@context.IsUp" Disabled />
            </Column>
            <Column Title="Name" Field="@context.Address" Sortable>
                <a href="@($"{context.Address}/swagger/index.html")" target="_blank">@context.Address</a>
            </Column>
            <Column Title="Cores %" @bind-Field="@context.PercentFreeCores" Sortable>
                <Progress Percent="@(Math.Round(100.0 - context.PercentFreeCores))" Type=ProgressType.Line StrokeColor=@GetColor(context.PercentFreeCores) />
            </Column>
            <Column Title="RAM %" @bind-Field="@context.PercentFreeMemory" Sortable>
                <Progress Percent="@(Math.Round(100.0 - @context.PercentFreeMemory, 2))" Type=ProgressType.Line StrokeColor="@GetColor(context.PercentFreeMemory)" />
            </Column>
            <Column Title="Disk %" @bind-Field="@context.PercentFreeDiskSpace" Sortable>
                <Progress Percent="@(Math.Round(100.0 - @context.PercentFreeDiskSpace, 2))" Type=ProgressType.Line StrokeColor=@GetColor(context.PercentFreeDiskSpace) />
            </Column>
        </Table>
    </ExpandTemplate>
</AntDesign.Table>


@code {
    bool _isVisible;
    ColonyDto _model = new ColonyDto();
    List<ColonyVM> _colonies = new List<ColonyVM>();
    List<BeeDto> _bees = new List<BeeDto>();

    protected async override Task OnInitializedAsync()
    {
        _bees = await BeeKeeper.GetBeesAsync();
        _colonies = ColonyProvider.GetColonies().Select(p => new ColonyVM(p)).ToList();
    }

    private void NewColony()
    {
        _isVisible = true;
    }

    private void Cancel()
    {
        _isVisible = false;
    }

    public void AddColony(EditContext context)
    {
        ColonyProvider.CreateColony(_model);
        _isVisible = false;

        _colonies = ColonyProvider.GetColonies().Select(p => new ColonyVM(p)).ToList();
        StateHasChanged();
    }

    public void AddColonyFailed(EditContext context)
    {

    }

    private void RemoveColony(string name)
    {
        ColonyProvider.DeleteColony(name);

        _colonies = ColonyProvider.GetColonies().Select(p => new ColonyVM(p)).ToList();
        StateHasChanged();
    }

    private async Task OnRowExpand(RowData<ColonyVM> rowData)
    {
        var bees = await BeeKeeper.GetBeesAsync() ?? new List<BeeDto>();

        var addresses = rowData.Data.Bees ?? Enumerable.Empty<string>();
        if (addresses.Any())
        {
            var map = bees.ToDictionary(p => p.Address, p => p);
            bees.Clear();
            bees.AddRange(addresses
                .Where(p => map.ContainsKey(p))
                .Select(p => map[p])
            );
        }

        rowData.Data.BeesVM = bees;
        StateHasChanged();
    }

    public void Dispose()
    {
    }

    int Count(IEnumerable<string> bees)
    {
        return bees == null || !bees.Any()
            ? _bees.Count
            : bees.Count();
    }

    string GetColor(double percentFree)
    {
        if (percentFree <= 10) return "#dc3545";
        if (percentFree <= 25) return "#fd7e14";
        return "#28a745";
    }

    string GetOSImage(string platform)
    {
        switch (platform)
        {
            case "Win32S":
            case "Win32Windows":
            case "Win32NT":
            case "WinCE":
                return "images/windows_microsoft_icon.png";
            case "Unix":
                return "images/tux_linux_icon.png";
            case "MacOSX":
                return "images/mac_osx_icon.png";
            case "Xbox":
                return "images/xbox_icon.png";
            default:
                return "images/server_center_data_icon.png";
        }
    }

    public class ColonyVM : ColonyDto
    {
        public ColonyVM(ColonyDto dto)
        {
            Name = dto.Name;
            MaxParallelTasks = dto.MaxParallelTasks;
            Bees = dto.Bees;
        }

        public List<BeeDto> BeesVM { get; set; }
    }
}
